@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Sarabun', sans-serif;
    transition: all 0.3s !important;
}

html {
    min-height: 100%;
    display: flex;
}

body {
    width: 100%;
    margin: auto;
}

.select-header:hover, .select-footer:hover, .select-content:hover, .remove-content:hover {
    transform: scale(1.03);
}

.hover-scale:hover {
    transform: scale(1.2);
}

.img-banner h1 {
    position: absolute;
    top: 15%;
    right: 10%;
}

.slide-banner .row {
    position: absolute;
    top: 15%;
    z-index: 9;
}

.remove-content {
    position: absolute;
    top: 25px;
    right: 35px;
    z-index: 1000;
}
.edit-content {
    position: absolute;
    top: 25px;
    right: 100px;
    z-index: 1000;
}

section {
    position: relative;
}

h5 {
    line-height: 30px;
}